.contactItem {
  min-width: 250px;
  flex-basis: calc((100%-8 * 3) / 4);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(174, 176, 176);
  border-radius: 4px;
}
.textWrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.dataWrap {
  display: flex;
  align-items: center;
}
.icon {
  margin-right: 5px;
  color: #262c36;
}

.deleteContactBtn {
  min-width: 80px;
  padding: 10px 0;
  color: #e4e6ea;
  background-color: #262c36;
  border: none;
  border-radius: 4px;
}
